@import "tailwindcss";

@theme {
	--font-sans: "Plus Jakarta Sans", sans-serif;

	/* Primary palette */
	--color-primary-50: #eef2ff;
	--color-primary-100: #e0e7ff;
	--color-primary-500: #6366f1;
	--color-primary-600: #4f46e5;
	--color-primary-700: #4338ca; /* Deep Indigo */
	--color-primary-900: #312e81;

	/* Secondary */
	--color-secondary: #64748b;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
