@import "tailwindcss";

:root{
	--source-primary-50: #eef2ff;
	--source-primary-100: #e0e7ff;
	--source-primary-500: #6366f1;
	--source-primary-600: #4f46e5;
	--source-primary-700: #4338ca; 
	--source-primary-900: #312e81;
	--source-secondary: #64748b;
	--source-logo: #07da9a;
}
/* :root{
	--source-primary-50: hsl(162, 100%, 97%);
	--source-primary-100: hsl(162, 100%, 94%);
	--source-primary-500: hsl(162, 84%, 60%);
	--source-primary-600: hsl(162, 75%, 50%);
	--source-primary-700: hsl(162, 58%, 40%); 
	--source-primary-900: hsl(162, 47%, 34%);
	--source-secondary: #64748b;
	--source-logo: hsl(162, 94%, 44%);
} */


@theme {
	--font-sans: "Plus Jakarta Sans", sans-serif;

	/* Primary palette */
	--color-primary-50: var(--source-primary-50);
	--color-primary-100: var(--source-primary-100);
	--color-primary-500: var(--source-primary-500);
	--color-primary-600: var(--source-primary-600);
	--color-primary-700: var(--source-primary-700);
	--color-primary-900: var(--source-primary-900);

	/* Secondary */
	--color-secondary: var(--source-secondary);

	/* Logo */
	--color-logo: var(--source-logo);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
